@{
    ViewData["Title"] = "Home Page";

}
@model YoYoWebApp.ViewModel.HomeViewModel

<div class="main-card card mt-4 text-center border-0">
    <div class="card-header display-4 bg-primary text-white">YoYo Test</div>
     <div class="card-body">
            <!-- button div with labels and controls -->
            <div class="mb-4">
                <div id="controls" class="text-center" hidden>
                    <button id="playBtn" onclick="start();" type="button" class="btn btn-lg rounded-circle main-btn">
                        <i class="fa fa-play disp-center"></i>
                    </button>
                    <button id="pauseBtn" onclick="stop();" type="button" class="btn btn-lg rounded-circle main-btn">
                        <i class="fa fa-pause disp-center"></i>
                        <div class="btn-text text-center disp-center">
                              <div>Level <span id="currentShuttleLevelNumber">0</span></div>
                              <div>Shuttle <span id="currentShuttleNumber">0</span></div>
                              <div><span id="currentShuttleSpeed">0</span> km/hr</div>
                         </div>
                    </button>
                    <button id="restartBtn" onclick="restart();" type="button" class="btn btn-lg rounded-circle main-btn">
                        <i class="fa fa-refresh disp-center"></i>
                    </button>
                </div>
            </div>
            <div class="progress mb-2">
                <div id="speed-level-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                     style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <!-- finish test btn -->
            <div id="finishTestBtn" hidden>
                <button onclick='finishTest();' id="finishTestBtnEle" class="btn btn-outline-success mt-3 px-4">Finish</button>
            </div>

            <!-- progress -->
            <div class="row my-5 w-md-100 w-75 mx-auto">
                 <div class="col">
                      <div>NEXT SHUTTLE</div>
                      <div id="cdTimer">00:00s</div>
                 </div>
                 <div class="col border-right border-left">
                      <div>TOTAL TIME</div>
                      <div id="timer">00:00m</div>
                 </div>
                 <div class="col">
                      <div>TOTAL DISTANCE</div>
                      <div><span id="currentTotalDistance">0</span>m</div>
                 </div>
            </div>

            <!-- participants -->
            <div class="mx-3">
                 <div class="text-left font-weight-bold">Track</div>
                 <table class="table text-left">
                      <tbody>
                            @{
                                int sNo = 0;
                            }
                            @foreach (var item in Model.players)
                            {
                                sNo++;
                                 <tr id="player-@item.id">
                                    <td class="py-3">
                                        @sNo.   @item.name
                                    </td>
                                    <td class="btnPlayer-@item.id btn-player" hidden>
                                        <button id="warnBtnPlayer-@item.id" onclick='warnPlayer("Player-@item.id", @item.id);' type="button" class="btn btn-outline-warning px-3 btn-sm rounded-pill">
                                        Warn
                                        </button>
                                    </td>
                                    <td class="btnPlayer-@item.id btnPlayer" hidden>
                                        <button id="stopBtnPlayer-@item.id" disabled="disabled" onclick='stopPlayer("Player-@item.id", @item.id);' type="button" class="btn btn-outline-danger px-3 btn-sm rounded-pill">
                                        Stop
                                        </button>
                                    </td>
                                    <td class="finishedPlayer-@item.id" hidden>
                                        <select id="finishedPlayer-@item.id" onchange='playerResultChanged(@item.id, "finishedPlayer-"+@item.id)'></select>
                                    </td>
                                </tr>
                            }
                       </tbody>
                 </table>
            </div>
     </div>
</div>



